%div{:style => "padding:10px;"}
  =flash[:error]
  %div
  = form_for :email, :url => email_create_url, :html => { :multipart => true } do |f|  
    = link_to "Назад", emails_url
    = submit_tag "Сохранить письмо"
    %div{:style => "border: 5px solid #CCC; margin-bottom:5px;padding:5px;"}
      %p{:style=>"border-bottom:1px solid #CCC;margin:5px;"}
        = f.label :email_address, "Кому"
        = f.text_field :email_address
      %p{:style=>"border-bottom:1px solid #CCC; margin:5px;"}
        = f.label :subject, "Тема"
        = f.text_field :subject
    %div{:style => "border: 5px solid #CCC;padding:5px;"}
      %p{:style => "border-bottom: 3px solid #CCC"} Сообщение
      %div{:style => "overflow:scroll;height:400px;font-size:12px;"}
        %p
          = f.text_area :message, :style=>"width:95%;"
        %p
          = fields_for :email_attachments do |f|
            = f.file_field :attached_file

